In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"E:\Programming\Machine Learning\ML Algorithams\Classification\Decision Trees\titanic.csv")

In [3]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [5]:
inputs = df.drop('Survived', axis='columns')
target = df['Survived']

In [6]:
inputs.Sex = inputs['Sex'].replace({'male': 1, 'female': 2})

In [7]:
inputs

     Pclass  Sex   Age     Fare
0         3    1  22.0   7.2500
1         1    2  38.0  71.2833
2         3    2  26.0   7.9250
3         1    2  35.0  53.1000
4         3    1  35.0   8.0500
..      ...  ...   ...      ...
886       2    1  27.0  13.0000
887       1    2  19.0  30.0000
888       3    2   NaN  23.4500
889       1    1  26.0  30.0000
890       3    1  32.0   7.7500

[891 rows x 4 columns]

In [8]:
inputs.Age[:10]

0    22.0
1    38.0
2    26.0
3    35.0
4    35.0
5     NaN
6    54.0
7     2.0
8    27.0
9    14.0
Name: Age, dtype: float64

In [9]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())

In [10]:
inputs.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    2  38.0  71.2833
2       3    2  26.0   7.9250
3       1    2  35.0  53.1000
4       3    1  35.0   8.0500

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
X_train, X_test, y_train, y_test = train_test_split(inputs, target, test_size=0.2)

In [13]:
len(X_train)

712

In [14]:
len(X_test)

179

In [19]:
X_train

     Pclass  Sex        Age     Fare
481       2    1  29.699118   0.0000
620       3    1  27.000000  14.4542
858       3    2  24.000000  19.2583
235       3    2  29.699118   7.5500
14        3    2  14.000000   7.8542
..      ...  ...        ...      ...
608       2    2  22.000000  41.5792
594       2    1  37.000000  26.0000
358       3    2  29.699118   7.8792
732       2    1  29.699118   0.0000
849       1    2  29.699118  89.1042

[712 rows x 4 columns]

In [20]:
y_train

481    0
620    0
858    1
235    0
14     0
      ..
608    1
594    0
358    1
732    0
849    1
Name: Survived, Length: 712, dtype: int64

In [15]:
from sklearn import tree

In [16]:
model = tree.DecisionTreeClassifier()

In [17]:
model.fit(X_train, y_train)

DecisionTreeClassifier()

In [18]:
model.score(X_test, y_test)

0.7653631284916201