Exhaustive Feature Selection

This is the most robust feature selection method covered so far. This is a brute-force evaluation of each feature subset. This means that it tries every possible combination of the variables and returns the best performing subset.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import KNeighborsClassifier as knn
from sklearn.linear_model import LogisticRegression as LGR
from mlxtend.feature_selection import ExhaustiveFeatureSelector
from mlxtend.plotting import plot_sequential_feature_selection

In [2]:
from sklearn.datasets import load_iris
iris_data = load_iris()
df_iris = pd.DataFrame(iris_data.data, columns=iris_data.feature_names)
df_iris['target'] = pd.Series(iris_data.target)
df_iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [5]:
X = df_iris.iloc[:,0:-1]
y = df_iris["target"]

In [6]:
feature_names = tuple(X.columns)
feature_names

('sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)')

In [7]:
efs = ExhaustiveFeatureSelector(
           #knn(n_neighbors=3),
           #rfc(n_jobs=8),
           LGR(max_iter=100),
           min_features=1, 
           max_features=4, 
           #scoring = 'neg_mean_squared_error',  # sklearn regressors
           scoring='accuracy',  # sklearn classifiers,
           n_jobs=8,
           cv=3)

In [9]:
efs = efs.fit(X, y)

Features: 15/15

In [10]:
efs.best_feature_names_

('sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)')

In [11]:
efs.best_score_

0.9733333333333333

In [12]:
df = pd.DataFrame.from_dict(efs.get_metric_dict()).T
df = df[["feature_idx","avg_score"]]
df

     feature_idx avg_score
0           (0,)  0.726667
1           (1,)  0.566667
2           (2,)  0.953333
3           (3,)      0.96
4         (0, 1)      0.82
5         (0, 2)  0.946667
6         (0, 3)      0.94
7         (1, 2)  0.953333
8         (1, 3)  0.933333
9         (2, 3)      0.96
10     (0, 1, 2)  0.946667
11     (0, 1, 3)      0.94
12     (0, 2, 3)  0.966667
13     (1, 2, 3)      0.96
14  (0, 1, 2, 3)  0.973333

Advantages:

They detect the interaction between variables
They find the optimal feature subset for the desired machine learning algorithm

Disadvantages:

Computationaly are very expensive and takes lots of time